body{
	text-align: center;
	background: url('https://static.pexels.com/photos/6579/pexels-photo.jpeg') no-repeat;
	background-size: 100%;
	font-size: 25px;
	opacity: 0.8;
}
h1{
	color: #0fe6aa;
  text-shadow: 1px 2px #FFF;
}
div{
  border: solid #e1e1f5;
	color: #FFF;
	width: 400px;
	height: 50px;
	margin: 10px auto;
}
a{
	color: red;
  font-weight: bold;
	text-decoration: none;
}